<template>
  <button
    class="a-base-button"
    :class="{ secondary: isSecondary }"
    @click.prevent="$emit('buttonClick')"
  >
    {{ buttonText }}
  </button>
</template>
<script>
export default {
  name: "BaseButton",
  props: {
    buttonText: {
      type: String,
      require: true,
    },
    isSecondary: {
      type: Boolean,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.a-base-button {
  padding: 9px 40px;
  border: solid 1px $black;
  border-radius: 100px;
  background-color: $white-20;
  backdrop-filter: blur(20px);
  font-size: 15px;
  color: $black;
  @include media(md) {
    padding: 10px 50px;
    font-size: 16px;
  }
  &:hover {
    border: 1px solid transparent;
    background-color: $main;
    color: $white;
  }
}
.secondary {
  border: solid 1px $main;
  background-color: $main;
  color: $white;
  &:hover {
    background-color: $hover;
  }
}
</style>
