<template>
  <div class="a-cursor" ref="customCursor">
    <div class="default-cursor" v-if="isDefault"></div>
    <div class="view-cursor" v-else></div>
  </div>
</template>
<script>
export default {
  name: "CustomCursor",
  props: {
    isDefault: {
      type: Boolean,
      require: true,
    },
  },
  data() {
    return {};
  },
  mounted() {
    this.$nextTick(() => {
      const circle = this.$refs.customCursor;
      const circleStyle = circle.style;
      document.addEventListener("mousemove", (event) => {
        // mouse event 視窗高度 - 鼠標圖樣高度的一半(定位鼠標元素)
        circleStyle.top = `${event.clientY - circle.offsetHeight / 2}px`;
        // mouse event 視窗寬度 - 鼠標圖樣寬度的一半(定位鼠標元素)
        circleStyle.left = `${event.clientX - circle.offsetWidth / 2}px`;
      });
    });
  },
};
</script>
<style lang="scss" scoped>
.a-cursor {
  display: none;
  @include media(lg) {
    display: block;
    position: fixed;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
  }
  .default-cursor {
    width: 12px;
    height: 12px;
    background-color: $main;
    border-radius: 100%;
  }
  .view-cursor {
    width: 67px;
    height: 59px;
    background-image: url("@/assets/image/icon/view-cursor.png");
    background-size: 67px, 59px;
  }
}
</style>
