<template>
  <div>
    <div class="a-header-button" v-if="isButton">
      <button class="custom-button" @click="$router.push({ name: routerName })">
        <p class="text-origin">
          {{ buttonText }}
        </p>
        <p class="text-hover">
          {{ buttonText }}
          <span v-if="isHavingIcon" :class="{ withIcon: isHavingIcon }">
            <img :src="iconImage" alt="button icon" />
          </span>
          <span v-else :class="{ withIcon: isHavingIcon }"></span>
        </p>
      </button>
    </div>
    <div class="a-header-button" v-else>
      <a :href="linkHref" target="blank">
        <p class="text-origin">
          {{ buttonText }}
        </p>
        <p class="text-hover">
          {{ buttonText }}
          <span v-if="isHavingIcon" :class="{ withIcon: isHavingIcon }">
            <img :src="iconImage" alt="button icon" />
          </span>
          <span v-else :class="{ withIcon: isHavingIcon }"></span>
        </p>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  name: "HeaderButton",
  props: {
    buttonText: {
      type: String,
      require: true,
    },
    linkHref: {
      type: String,
    },
    isHavingIcon: {
      type: Boolean,
      require: true,
    },
    iconImage: {
      type: String,
      require: true,
    },
    isButton: {
      type: Boolean,
      default: false,
    },
    routerName: {
      type: String,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.a-header-button {
  padding: 7px 18px;
  position: relative;
  border: 1px solid #2b2b89;
  border-radius: 100px;
  background-color: $white-20;
  backdrop-filter: blur(20px);
  line-height: 35px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  p {
    margin-bottom: 0;
    color: $main;
  }
  .text {
    &-origin {
      transition: all 1s;
    }
    &-hover {
      width: 100%;
      height: fit-content;
      margin: auto;
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(-150%);
      transition: all 1s;
      span {
        &.withIcon {
          margin-left: 15px;
        }
      }
    }
  }
  &:hover {
    .text {
      &-origin {
        transform: translateX(250%);
      }
      &-hover {
        transform: translateX(calc(0% + 20px));
      }
    }
  }
}

.custom-button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
</style>
