@font-face
  font-family: "Futura"
  font-style: normal
  src: url("~/font/Futura-LT-Light.ttf") format("opentype")

@font-face
  font-family: "Futura-Demi"
  font-style: normal
  src: url("~/font/Futura-LT-Book.ttf") format("opentype")

@font-face
  font-family: "Meno-Banner"
  font-style: normal
  src: url("~/font/Meno-Banner-Light.otf") format("opentype")

