$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440,
);

@mixin media($name) {
  $breakpoint: map-get($breakpoints, $name);
  @media (min-width: $breakpoint) {
    @content;
  }
}
