<template>
  <div class="m-header">
    <div class="m-header__social-media">
      <HeaderButton
        buttonText="FB"
        linkHref="https://www.facebook.com/"
        :isHavingIcon="false"
      />
      <HeaderButton
        buttonText="IG"
        linkHref="https://www.instagram.com/"
        :isHavingIcon="false"
      />
    </div>
    <div class="m-header__navbar">
      <Navbar />
    </div>
    <div class="m-header__operation">
      <HeaderButton
        buttonText="線上購物"
        linkHref="https://www.google.com/"
        :isHavingIcon="true"
        :iconImage="require('@/assets/image/icon/button-right-arrow.png')"
      />
      <HeaderButton
        buttonText="型錄下載"
        routerName="collection"
        :isHavingIcon="true"
        :isButton="true"
        :iconImage="require('@/assets/image/icon/button-down-arrow.png')"
      />
    </div>
  </div>
</template>
<script>
import Navbar from "~/components/layout/Navbar.vue";
import HeaderButton from "~/components/shared/HeaderButton.vue";

export default {
  name: "Header",
  components: {
    Navbar,
    HeaderButton,
  },
  data() {
    return {};
  },
  methods: {
    clickTest() {
      console.log("click");
    },
  },
};
</script>
<style lang="scss" scoped>
.m-header {
  padding: 16px;
  display: flex;
  justify-content: center;
  @include media(lg) {
    padding: 30px 40px;
  }
  &__social-media {
    display: none;
    @include media(lg) {
      margin-right: auto;
      display: flex;
      gap: 16px;
    }
  }
  &__operation {
    display: none;
    @include media(lg) {
      margin-left: auto;
      display: flex;
      gap: 16px;
    }
  }
}
</style>
