<template>
  <div class="Navbar">
    <div class="m-navbar__wrap-isClose" v-if="!isMenuOpen">
      <h1 class="m-navbar__brand-logo" @click="$router.push({ name: 'index' })">
        <img src="~/assets/image/pic/brand-logo.svg" alt="logo" />
      </h1>
      <h1 class="m-navbar__brand-name" @click="$router.push({ name: 'index' })">
        <img src="~/assets/image/pic/brand-logo-name.png" alt="logo name" />
      </h1>
      <b-skeleton-wrapper>
        <div class="m-navbar__menu-isClose" @click="toggleNavbar">
          <div class="m-navbar__menu-icon">
            <img src="~/assets/image/icon/menu.svg" alt="menu" />
          </div>
        </div>
      </b-skeleton-wrapper>
    </div>
    <div
      class="m-navbar__wrap-isOpen"
      v-if="isMenuOpen"
      v-click-outside="toggleNavbar"
    >
      <div class="m-navbar__wrap-isOpen__header">
        <h1 class="m-navbar__brand-logo" @click="backToHome">
          <img src="~/assets/image/pic/brand-logo.svg" alt="logo" />
        </h1>
        <h1 class="m-navbar__brand-name" @click="backToHome">
          <img src="~/assets/image/pic/brand-logo-name.png" alt="logo name" />
        </h1>
        <div class="m-navbar__menu-isOpen" @click="toggleNavbar">
          <div class="m-navbar__menu-icon">
            <img src="~/assets/image/icon/menu-close.svg" alt="menu" />
          </div>
        </div>
      </div>
      <div class="m-navbar__wrap-isOpen__content">
        <ul class="m-navbar__list">
          <li
            class="m-navbar__item"
            v-for="menuItem in menuItems"
            :id="menuItem.name"
          >
            <p @click="openCollapse(menuItem)">
              {{ menuItem.name }}
              <span
                class="dropdown-icon"
                :class="{ collapseOpen: isCollapseOpen }"
                v-if="menuItem.children"
              >
                <img
                  src="~/assets/image/icon/chevron-down.svg"
                  alt="chevron down icon"
                />
              </span>
            </p>
            <b-collapse
              class="m-navbar__item__child-list"
              tag="ul"
              v-if="menuItem.children"
              v-model="isCollapseOpen"
            >
              <li
                class="m-navbar__item__child-item"
                v-for="childItem in menuItem.children"
                :id="childItem.name"
              >
                <p @click="toggleChildItem(childItem)">
                  {{ childItem.name }}
                </p>
              </li>
            </b-collapse>
          </li>
        </ul>
      </div>
      <div class="m-navbar__wrap-isOpen__footer">
        <div class="m-navbar__related-companies">
          <div class="a-separate-line">
            <span>關聯品牌</span>
          </div>
          <div class="a-related-company">
            <div class="a-related-company__link">
              <div class="a-related-company__icon">
                <img src="~/assets/image/icon/brand-a.svg" alt="brand-a" />
              </div>
            </div>
            <div class="a-related-company__link">
              <div class="a-related-company__icon">
                <img src="~/assets/image/icon/brand-b.svg" alt="brand-b" />
              </div>
            </div>
          </div>
          <div class="m-navbar__copyright">
            <span> © SASUGAS 2021. All Rights Reserved. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Navbar",
  data() {
    return {
      isMenuOpen: false,
      isCollapseOpen: false,
      isScroll: false,
      menuItems: [
        {
          name: "首頁",
          routeName: "index",
        },
        {
          name: "型錄",
          routeName: "collection",
        },
        {
          name: "購物",
          routeName: "",
        },
        {
          name: "品牌",
          children: [
            {
              name: "ALL",
              routeName: "brand",
            },
            {
              name: "Zolbonne Switch",
              routeName: "",
            },
            {
              name: "CJC",
              routeName: "",
            },
            {
              name: "Luxonov",
              routeName: "",
            },
            {
              name: "JIMBO",
              routeName: "",
            },
            {
              name: "BUSTER & PUNCH",
              routeName: "",
            },
          ],
        },
        {
          name: "關於",
          routeName: "about",
        },
        {
          name: "部落格",
          routeName: "",
        },
      ],

      iconScale: null,
    };
  },
  methods: {
    toggleNavbar() {
      this.isMenuOpen = !this.isMenuOpen;
      if (this.isMenuOpen) {
        document.body.setAttribute("style", "overflow: hidden");
      } else {
        document.body.setAttribute("style", "overflow: none");
      }
    },
    openCollapse(menuItem) {
      if (menuItem.children) {
        this.isCollapseOpen = !this.isCollapseOpen;
      } else {
        this.$router.push({ name: menuItem.routeName });
        this.isMenuOpen = false;
      }

      if (this.isMenuOpen) {
        document.body.setAttribute("style", "overflow: hidden");
      } else {
        document.body.setAttribute("style", "overflow: none");
      }
    },
    toggleChildItem(menuItem) {
      this.$router.push({ name: menuItem.routeName });
      this.isCollapseOpen = !this.isCollapseOpen;
      this.isMenuOpen = !this.isMenuOpen;
      if (this.isMenuOpen) {
        document.body.setAttribute("style", "overflow: hidden");
      } else {
        document.body.setAttribute("style", "overflow: none");
      }
    },
    backToHome() {
      this.$router.push({ name: "index" });
      this.isMenuOpen = !this.isMenuOpen;
    },
  },
};
</script>
<style lang="scss" scoped>
.m-navbar {
  &__wrap-isClose {
    width: 360px;
    max-width: 360px;
    margin: auto;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $main;
    border-radius: 100px;
    background-color: $white-20;
    backdrop-filter: blur(20px);
  }
  &__wrap-isOpen {
    width: 360px;
    max-width: 360px;
    max-height: calc(100vh - 50px);
    margin: auto;
    border: 1px solid $main;
    border-radius: 20px;
    background-color: $white-20;
    backdrop-filter: blur(20px);
    overflow: auto;
    &__header {
      padding: 8px 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px $main;
    }
    &__content {
      color: $main;
    }
    &__footer {
      text-align: center;
    }
  }
  &__brand-logo {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  &__brand-name {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  &__menu {
    width: 34px;
    height: 34px;
    position: relative;
    &-icon {
      width: fit-content;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      line-height: 30px;
      vertical-align: middle;
    }
    &-isClose {
      @extend .m-navbar__menu;
      position: relative;
      border-radius: 100%;
      background-color: $main;
      overflow: hidden;
      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 0;
          background: linear-gradient(90deg, $main, $grey);
          animation: move 1.75s linear infinite;
        }
      }
    }
    @keyframes move {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(100%);
      }
    }
    &-isOpen {
      @extend .m-navbar__menu;
      border: solid 1px $main;
      border-radius: 100%;
    }
  }
  &__list {
    padding: 40px 0 32px;
    font-size: 20px;
    text-align: center;
  }
  &__item {
    text-align: center;
    position: relative;
    p {
      margin-bottom: 20px;
    }
    &:last-of-type {
      p {
        margin-bottom: 0;
      }
    }
    &__child-list {
      margin-bottom: 20px;
      list-style: none;
    }
    &__child-item {
      a {
        color: $main;
      }
      p {
        margin-bottom: 8px;
      }
      &:last-of-type {
        p {
          margin-bottom: 0;
        }
      }
    }
    .dropdown-icon {
      margin-left: 18px;
      position: absolute;
      top: 6px;
      line-height: 14px;
      vertical-align: middle;
      &.collapseOpen {
        transform: scaleY(-1);
      }
    }
  }
  &__related-companies {
    %line-style {
      display: inline-block;
      width: 96px;
      height: 1px;
      background-color: $main;
      line-height: 1rem;
      vertical-align: middle;
    }
    .a-separate-line {
      &::before {
        content: "";
        @extend %line-style;
      }
      &::after {
        content: "";
        @extend %line-style;
      }
      span {
        margin: 0 16px;
        font-size: 14px;
        color: $main;
      }
    }
    .a-related-company {
      margin: 32px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 26px;
      &__link {
        width: 50px;
        height: 50px;
        border: solid 1px $main;
        border-radius: 100%;
      }
      &__icon {
        width: fit-content;
        margin: 0 auto;
        line-height: 45px;
        vertical-align: middle;
      }
    }
  }
  &__copyright {
    margin-bottom: 32px;
    span {
      font-size: 12px;
      color: $main;
    }
  }
}
</style>
