<template>
  <div class="o-banner">
    <div class="o-banner__phone">
      <div class="m-product__phone">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>ZOLBONNE</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>日本• 槓桿式三開開關</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
      <div class="m-product__phone">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>Buster & Punch</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>英國• 抽屜把手</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
      <div class="m-product__phone">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>Buster & Punch</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>英國• 抽屜把手</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
      <div class="m-product__phone">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>Buster & Punch</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>英國• 抽屜把手</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="o-banner__desktop">
      <div class="a-website-introduction">
        <p>
          Behind every mass production, there is human warming, it is no longer
          a copy.But unique, this is the charm of hardwarecharm of hardware
        </p>
      </div>
      <div class="m-product m-product-left">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>ZOLBONNE</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>日本• 槓桿式三開開關</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
      <div class="m-product m-product-right">
        <div class="m-product__info">
          <div class="m-product__a-product-title">
            <h3>Buster & Punch</h3>
          </div>
          <div class="m-product__a-product-subtitle">
            <span>英國• 抽屜把手</span>
            <div class="read-more">
              <img src="~/assets/image/pic/read-more.svg" alt="read more" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Banner",
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.o-banner {
  &__phone {
    display: block;
    @include media(lg) {
      display: none;
    }
  }
  &__desktop {
    display: none;
    @include media(lg) {
      height: fit-content;
      display: flex;
      position: relative;
    }
  }
}

.a-website-introduction {
  display: none;
  @include media(lg) {
    width: 832px;
    margin: auto;
    display: block;
    position: absolute;
    top: 161px;
    left: 0;
    right: 0;
  }
  p {
    font-family: "Futura";
    font-size: 28px;
    color: $white;
    letter-spacing: 0.5;
    text-align: center;
    mix-blend-mode: difference;
  }
}

.m-product {
  @include media(lg) {
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @include media(lg) {
    flex: 1 0 0;
    min-height: 100vh;
    padding: 40px 90px;
  }
  &__phone {
    height: 375px;
    padding: 24px;
    display: flex;
    align-items: flex-end;
    background-image: url("~/assets/image/pic/banner-product-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media(sm) {
      height: 576px;
    }
    @include media(md) {
      height: 768px;
    }
    @include media(lg) {
      height: 992px;
    }
  }
  &-left {
    background-image: url("~/assets/image/pic/banner-product-01.png");
  }
  &-right {
    background-image: url("~/assets/image/pic/banner-product-02.png");
  }
  &__a-product {
    &-title {
      h3 {
        font-size: 36px;
        font-family: "Futura-Demi";
        color: $white;
        mix-blend-mode: difference;
      }
    }
    &-subtitle {
      display: flex;
      gap: 16px;
      align-items: center;
      color: $white;
      mix-blend-mode: difference;
    }
  }
}
</style>
