@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import "~/font/font-face.sass";

// ====================================
// # font-family

$font-family: "Noto Sans TC", "Roboto", sans-serif, serif;

// ====================================
// # font-size

$font-size-root: 1rem;

// ====================================
// # font-weight

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$block: 900;

$font-weight-base: $light;
