*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-size: $font-size-root;
  font-family: $font-family;
  font-weight: $font-weight-base;
  @media (min-width: 992px) {
    cursor: none;
  }
}

// ====================================
// # headings & paragraphs

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

// ====================================
// # links

a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

// ====================================
// # forms
input,
select,
button,
textarea {
  &:focus {
    outline: 0;
  }
}
input,
button,
textarea {
  // reset Firefox and Safari
  margin: 0;

  font-family: inherit;
}
input[hidden] {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}
textarea {
  resize: none;
}

// ====================================
// # list
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
