<template>
  <div class="m-collection-slider">
    <div class="m-collection-slider__phone">
      <div class="a-collection-phone__item">
        <div class="a-collection__info">
          <h3>2021</h3>
          <span>SASUGAS流石最新型錄</span>
        </div>
        <div class="a-collection__image">
          <img src="@/assets/image/pic/collection-2018.png" alt="" />
        </div>
        <div class="a-collection__file">
          <BaseButton buttonText="線上型錄" />
          <BaseButton buttonText="下載PDF" :isSecondary="true" />
        </div>
      </div>
      <div class="a-collection-phone__item">
        <div class="a-collection__info">
          <h3>Limited</h3>
          <span>期間限定選品</span>
        </div>
        <div class="a-collection__image">
          <img src="@/assets/image/pic/collection-2018.png" alt="" />
        </div>
        <div class="a-collection__file">
          <BaseButton buttonText="線上型錄" />
          <BaseButton buttonText="下載PDF" :isSecondary="true" />
        </div>
      </div>
      <div class="a-collection-phone__item">
        <div class="a-collection__info">
          <h3>2021</h3>
          <span>SASUGAS流石最新型錄</span>
        </div>
        <div class="a-collection__image">
          <img src="@/assets/image/pic/collection-2018.png" alt="" />
        </div>
        <div class="a-collection__file">
          <BaseButton buttonText="線上型錄" />
          <BaseButton buttonText="下載PDF" :isSecondary="true" />
        </div>
      </div>
    </div>
    <div class="m-collection-slider__desktop">
      <swiper class="swiper" :options="swiperOptions">
        <swiper-slide>
          <div class="a-collection__background">
            <div class="a-collection__info">
              <h3>2021</h3>
              <span>SASUGAS流石最新型錄</span>
            </div>
            <div class="a-collection__image">
              <img src="@/assets/image/pic/collection-2018.png" alt="" />
            </div>
          </div>
          <div class="a-collection__file">
            <BaseButton buttonText="線上型錄" />
            <BaseButton buttonText="下載PDF" :isSecondary="true" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="a-collection__background">
            <div class="a-collection__info">
              <h3>Limited</h3>
              <span>期間限定選品</span>
            </div>
            <div class="a-collection__image">
              <img src="@/assets/image/pic/collection-2018.png" alt="" />
            </div>
          </div>
          <div class="a-collection__file">
            <BaseButton buttonText="線上型錄" />
            <BaseButton buttonText="下載PDF" :isSecondary="true" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="a-collection__background">
            <div class="a-collection__info">
              <h3>2021</h3>
              <span>SASUGAS流石最新型錄</span>
            </div>
            <div class="a-collection__image">
              <img src="@/assets/image/pic/collection-2018.png" alt="" />
            </div>
          </div>
          <div class="a-collection__file">
            <BaseButton buttonText="線上型錄" />
            <BaseButton buttonText="下載PDF" :isSecondary="true" />
          </div>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
    </div>
  </div>
</template>
<script>
import BaseButton from "@/components/shared/BaseButton.vue";
export default {
  name: "CollectionSlider",
  components: {
    BaseButton,
  },
  data() {
    return {
      swiperOptions: {
        loop: true,
        freeMode: true,
        spaceBetween: 200,
        breakpoints: {
          768: {
            slidesPerView: "auto",
          },
        },
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.m-collection-slider {
  height: 100vh;
  position: relative;
  &__phone {
    padding: 100px 24px 60px;
    @include media(lg) {
      display: none;
    }
  }
  &__desktop {
    display: none;
    @include media(lg) {
      display: block;
      height: fit-content;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.a-collection {
  &-phone__item {
    margin-bottom: 48px;
  }
  &__info {
    margin-bottom: 16px;
    @include media(lg) {
      width: fit-content;
      height: fit-content;
      margin: auto;
      position: absolute;
      top: 80px;
      left: -80px;
    }
    h3 {
      font-size: 40px;
      font-family: "Futura";
      color: $main;
      @include media(lg) {
        font-size: 70px;
      }
    }
    span {
      font-size: 18px;
      @include media(lg) {
        font-size: 28px;
      }
    }
  }
  &__image {
    margin-bottom: 16px;
    @include media(lg) {
      width: 700px;
      height: 450px;
      margin-bottom: 0;
      position: absolute;
      right: -30px;
      bottom: -30px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @include media(lg) {
        object-fit: cover;
      }
    }
  }
  &__background {
    width: 820px;
    height: 460px;
    margin: 0 auto 60px;
    position: relative;
    background-color: $light-grey;
  }
  &__file {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

.swiper-slide {
  @include media(md) {
    width: 820px;
    height: 570px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
