<template>
  <div class="main">
    <Header />
    <Nuxt />
  </div>
</template>
<script>
import Header from "../components/layout/Header.vue";

export default {
  name: "Default",
  components: {
    Header,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.main {
  position: relative;
}
.m-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
</style>
