<template>
  <div class="o-about">
    <CustomCursor :isDefault="true" />
    <div class="o-about__wrap o-about__wrap-header">
      <div class="m-about__content">
        <div class="m-about__content__text" ref="headerContent">
          <h2 class="a-about__title">SASUGAS</h2>
          <p class="a-about__subtitle">
            有了人的加溫，不再是複製、而是獨一無二，這就是五金的魅力
          </p>
        </div>
      </div>
      <div class="m-about__image">
        <img src="@/assets/image/pic/about-01.png" alt="about-01" />
      </div>
    </div>
    <div class="o-about__wrap o-about__wrap-introduction">
      <div class="m-about__content">
        <div class="m-about__content__text" v-scroll="introductionContentSlide">
          <span>About</span>
          <h3 class="a-about__title">獨一無二，<br />這就是五金的魅力</h3>
        </div>
        <div class="m-about__content__text" v-scroll="introductionContentSlide">
          <p class="a-about__subtitle">
            Sasugasさすがっす –
            取自日文，是讚嘆事物美好的嘆詞，讚嘆眼光獨到果不其然啊～的意思。
            Sasugas
            五金選貨店，選購來自世界各地美好的五金材料，這些小零件，像是生活中的關節，
            將生活變的可靠有趣，生活為什麼不更有趣一點？
            大前研一說在衝刺ON的人生時？也不要忘記OFF的多采多姿。
          </p>
        </div>
      </div>
      <div class="m-about__image">
        <img src="@/assets/image/pic/about-02.png" alt="about-02" />
      </div>
    </div>
    <div class="o-about__wrap o-about__wrap-insist">
      <div class="m-about__content">
        <div class="m-about__content__text" v-scroll="insistContentSlide">
          <span>We insist</span>
          <h3 class="a-about__title">再細小的角落，<br />都要堅持細緻品味</h3>
        </div>
        <div class="m-about__content__text" v-scroll="insistContentSlide">
          <p class="a-about__subtitle">
            開關不再只有塑膠一種選擇，每一天開了幾次，每一天又關了次，
            因為使用而留下歲月的刻痕，感動越擦越亮，讚歎生活的美好。
            五金在家庭、公共空間當中是不起眼的小物件，卻是人與空間接觸最具機能的媒介，
            連細小的角落都能堅持細緻品味
          </p>
        </div>
      </div>
      <div class="m-about__image">
        <img src="@/assets/image/pic/about-03.png" alt="about-03" />
      </div>
    </div>
    <div class="o-about__wrap o-about__wrap-contact">
      <div class="m-about__content">
        <div class="m-about__content__text" v-scroll="contactContentSlide">
          <span>Contact</span>
          <h3 class="a-about__title">聯絡方式</h3>
        </div>
        <div class="m-about__content__text" v-scroll="contactContentSlide">
          <ul class="a-contact__list">
            <li>Email ｜ service@sasugas.com</li>
            <li>Phone ｜ 02-2772 2700 #213</li>
            <li>Fax｜ 02-8772 3800</li>
            <li>Address | 台北市中山區八德路二段166號2F(德瑞思廚飾)</li>
            <li>Open time｜週一 - 週五 09:00 - 18:00</li>
          </ul>
          <div class="a-contact__out-link">
            <BaseButton buttonText="查看地圖" />
            <div class="a-social-media">
              <a
                href="https://www.facebook.com/"
                target="blank"
                class="a-social-media__button facebook"
              >
                <FacebookIcon />
              </a>
              <a
                href="https://www.instagram.com/"
                target="blank"
                class="a-social-media__button instagram"
              >
                <InstagramIcon />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="m-about__image">
        <img src="@/assets/image/pic/about-04.png" alt="about-04" />
      </div>
    </div>
    <div class="a-about__scroll-to-top" @click="scrollToTop">
      <span>TOP</span>
      <RightArrow color="black" />
    </div>
  </div>
</template>
<script>
import CustomCursor from "@/components/shared/CustomCursor.vue";
import BaseButton from "@/components/shared/BaseButton.vue";

// =================
// svg
import RightArrow from "@/components/icon/RightArrow.vue";
import FacebookIcon from "@/components/icon/FacebookIcon.vue";
import InstagramIcon from "@/components/icon/InstagramIcon.vue";
export default {
  name: "About",
  components: {
    CustomCursor,
    BaseButton,
    RightArrow,
    FacebookIcon,
    InstagramIcon,
  },
  data() {
    return {};
  },
  mounted() {
    const headerContent = this.$refs.headerContent;
    headerContent.setAttribute(
      "style",
      "opacity: 1; transform: translate(0, 0)"
    );
  },
  methods: {
    introductionContentSlide(event, element) {
      if (window.scrollY > 400) {
        element.setAttribute("style", "opacity: 1; transform: translate(0, 0)");
      }
      return window.scrollY > 400;
    },
    insistContentSlide(event, element) {
      if (window.scrollY > 1000) {
        element.setAttribute("style", "opacity: 1; transform: translate(0, 0)");
      }
      return window.scrollY > 1000;
    },
    contactContentSlide(event, element) {
      if (window.scrollY > 1800) {
        element.setAttribute("style", "opacity: 1; transform: translate(0, 0)");
      }
      return window.scrollY > 1800;
    },
    scrollToTop() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
  },
};
</script>
<style lang="scss" scoped>
.o-about {
  &__wrap {
    display: flex;
    flex-direction: column;
    @include media(lg) {
      min-height: 780px;
      flex-direction: row;
    }
    &-header {
      .m-about {
        &__content {
          justify-content: center;
          align-items: center;
          @include media(lg) {
            justify-content: flex-end;
          }
          &__text {
            text-align: center;
            @include media(lg) {
              text-align: left;
            }
          }
        }
      }
      .a-about__title {
        margin-bottom: 8px;
        font-size: 40px;
        font-family: "Futura";
        line-height: 60px;
        color: $main;
        @include media(lg) {
          font-size: 70px;
          line-height: 90px;
        }
      }
    }
    &-introduction {
      .m-about__content {
        @include media(lg) {
          order: 1;
        }
      }
    }
    &-contact {
      .m-about__content {
        @include media(lg) {
          order: 1;
        }
      }
    }
  }
}

.m-about {
  &__content {
    min-height: 517px;
    padding: 65px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("@/assets/image/pic/about-bg-patten.png");
    background-size: 100%;

    @include media(lg) {
      flex: 0 0 50%;
      min-height: unset;
      padding: 125px 90px 65px;
    }
    &__text {
      transform: translate(0, 120px);
      opacity: 0;
      transition: 2s all ease;
    }
  }
  &__image {
    flex: 0 0 50%;
    height: 780px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.a-about {
  &__title {
    margin-bottom: 8px;
    font-size: 28px;
    font-weight: $medium;
    color: $main;
    @include media(lg) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  &__scroll-to-top {
    display: flex;
    align-items: center;
    gap: 16px;
    position: fixed;
    bottom: 200px;
    right: 40px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
  }
}

.a-contact {
  &__list {
    margin-bottom: 40px;
  }
  &__out-link {
    display: flex;
    gap: 35px;
  }
}

.a-social-media {
  display: flex;
  gap: 13px;
  &__button {
    padding: 9px;
    display: block;
    outline: solid 1px $black;
    border-radius: 100%;
    &:hover {
      outline: none;
      background-color: $main;
      color: $white;
    }
  }
  .facebook {
    svg {
      fill: $black;
    }
    &:hover {
      svg {
        fill: $white;
      }
    }
  }
  .instagram {
    &:hover {
      svg {
        filter: brightness(10);
      }
    }
  }
}
</style>
