<template>
  <div class="o-collection">
    <CustomCursor :isDefault="true" />
    <CollectionSlider />
  </div>
</template>
<script>
import CustomCursor from "@/components/shared/CustomCursor.vue";
import CollectionSlider from "@/components/Collection/CollectionSlider.vue";
export default {
  name: "Collection",
  components: {
    CustomCursor,
    CollectionSlider,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped></style>
