<template>
  <div class="o-home">
    <Banner />
    <CustomCursor :isDefault="false" />
  </div>
</template>

<script>
import Banner from "~/components/Home/Banner.vue";
import CustomCursor from "~/components/shared/CustomCursor.vue";

export default {
  components: {
    Banner,
    CustomCursor,
  },
  layout: "",
};
</script>
<style lang="scss" scoped></style>
