<template>
  <div class="m-brand__wrap">
    <div
      class="m-brand__product"
      v-for="(image, index) in productImage"
      :key="index"
    >
      <img :src="image" alt="product" />
      <InfoCard
        :cardTitle="cardTitle"
        :cardContent="cardContent"
        :cardNote="cardNote"
        class="card-phone"
        :class="{ isCardDisplay: index === 1 }"
      />
    </div>
  </div>
</template>
<script>
import InfoCard from "@/components/Brand/InfoCard.vue";
export default {
  name: "BrandProduct",
  components: {
    InfoCard,
  },
  props: {
    productImage: {
      type: Array,
      require: true,
    },
    cardTitle: {
      type: String,
      require: true,
    },
    cardContent: {
      type: String,
      require: true,
    },
    cardNote: {
      type: String,
      require: true,
    },
  },
  data() {
    return {};
  },
  created() {},
  computed: {},
  methods: {},
};
</script>
<style lang="scss" scoped>
.o-brand {
  &__wrap {
    @include media(lg) {
      display: flex;
      position: relative;
    }
  }
  .a-info-card {
    position: absolute;
    bottom: 16px;
    left: 16px;
    @include media(md) {
      bottom: 40px;
      left: 40px;
    }
  }
}

.m-brand {
  &__wrap {
    @include media(md) {
      display: flex;
    }
  }
  &__product {
    height: 360px;
    position: relative;
    @include media(md) {
      flex: 1 0 0;
      height: 780px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.isCardDisplay {
  @include media(md) {
    display: none;
  }
}
</style>
