<template>
  <div class="a-info-card">
    <div class="a-info-card__title">
      <h4>{{ cardTitle }}</h4>
    </div>
    <div class="a-info-card__content">
      <p>{{ cardContent }}</p>
    </div>
    <div class="a-info-card__note">
      <span>{{ cardNote }}</span>
      <div class="note-arrow">
        <RightArrow color="#000" />
      </div>
    </div>
  </div>
</template>
<script>
// =================
// svg
import RightArrow from "@/components/icon/RightArrow.vue";
export default {
  name: "InfoCard",
  components: {
    RightArrow,
  },
  props: {
    cardTitle: {
      type: String,
      require: true,
    },
    cardContent: {
      type: String,
      require: true,
    },
    cardNote: {
      type: String,
      require: true,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
.a-info-card {
  width: 344px;
  padding: 16px 24px;
  border: solid 1px $white-20;
  border-radius: 20px;
  background-color: $white-20;
  backdrop-filter: blur(30px);
  @include media(lg) {
    width: 417px;
    padding: 24px 32px;
    &:hover {
      .a-info-card__note > .note-arrow {
        transform: translateX(0);
        transition: all 1s ease;
      }
    }
  }
  &__title {
    h4 {
      font-size: 22px;
      font-weight: $medium;
      font-family: "Futura";
      @include media(lg) {
        font-size: 36px;
      }
    }
  }
  &__content {
    display: none;
    @include media(md) {
      display: block;
      margin-bottom: 8px;
    }
  }
  &__note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-weight: $medium;
    }
    .note-arrow {
      @include media(md) {
        transform: translateX(-100px);
      }
    }
  }
}
</style>
