<template>
  <div class="o-product-slider" v-if="displayDefaultValue">
    <div class="m-slider__phone">
      <div class="a-slider__item">
        <img src="@/assets/image/pic/brand-product-02.png" alt="" />
      </div>
      <div class="a-slider__item">
        <img src="@/assets/image/pic/brand-product-03.png" alt="" />
      </div>
      <div class="a-slider__item">
        <img src="@/assets/image/pic/brand-product-04.png" alt="" />
      </div>
    </div>
    <div class="m-slider__desktop">
      <div class="close-icon" @click="$emit('closeDetailModal')">
        <img src="@/assets/image/icon/light-box-close.png" alt="" />
      </div>
      <div class="scroll-icon" @click="setControlledSwiper">
        <ScrollArrow color="#000" />
        <span>SCROLL</span>
      </div>
      <swiper
        ref="desktopSlider"
        :options="swiperOptions"
        class="m-slider__desktop"
      >
        <swiper-slide>
          <img src="@/assets/image/pic/brand-product-02.png" alt="" />
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/image/pic/brand-product-03.png" alt="" />
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/image/pic/brand-product-04.png" alt="" />
        </swiper-slide>
        <swiper-slide>
          <img src="@/assets/image/pic/brand-product-05.png" alt="" />
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>
<script>
import CustomCursor from "@/components/shared/CustomCursor.vue";
// =================
// svg
import ScrollArrow from "@/components/icon/ScrollArrow.vue";
export default {
  name: "ProductSlider",
  layout: "product-slider",
  components: {
    CustomCursor,
    ScrollArrow,
  },
  props: {
    displayDefaultValue: {
      type: Boolean,
    },
  },
  data() {
    return {
      swiperOptions: {
        loop: true,
        freeMode: true,
        enabled: true,
        sticky: true,
        breakpoints: {
          768: {
            slidesPerView: "auto",
          },
        },
      },
      controlledSwiper: null,
    };
  },
  watch: {
    displayDefaultValue(value) {
      if (value) {
        this.showDetailModal();
      }
    },
  },
  methods: {
    showDetailModal() {
      window.scrollTo({ top: 0, behavior: "smooth" });
      document.body.setAttribute("style", "overflow: hidden");
    },
    setControlledSwiper() {
      this.$refs.desktopSlider.$swiper.slideNext();
    },
  },
};
</script>
<style lang="scss" scoped>
.o-product-slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.m-slider {
  &__phone {
    @include media(md) {
      display: none;
    }
  }
  &__desktop {
    display: none;
    @include media(md) {
      width: 100vw;
      height: 100vh;
      display: block;
      position: relative;
    }
  }
}
.a-slider {
  &__item {
    height: 360px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @include media(md) {
    width: 780px;
  }
}

.close-icon {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 2;
}

.scroll-icon {
  display: flex;
  gap: 24px;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  right: 160px;
  z-index: 2;
  span {
    font-size: 24px;
    font-family: "Futura";
    letter-spacing: 1px;
  }
}

.modal-open {
  overflow: hidden;
}
</style>
