<template>
  <div class="o-single-brand">
    <CustomCursor :isDefault="false" />
    <div class="o-single-brand__header">
      <div class="m-single-brand__image">
        <img src="@/assets/image/pic/brand-product.png" alt="brand image" />
      </div>
      <div class="m-single-brand__introduction">
        <div class="a-single-brand__origin-phone">英國品牌</div>
        <div class="a-single-brand__logo">
          <img src="@/assets/image/pic/buster-punch.png" alt="brand logo" />
        </div>
        <div class="a-single-brand__origin-desktop">英國 ˙ 質感金屬</div>
        <div class="a-single-brand__text">
          <p>
            Buster & Punch是來自英國倫敦的新興品牌。
            用罕見且堅固的金屬，將常見的生活用品製成特別質感的物件。
          </p>
          <p>
            Buster &
            Punch在一個座落於東倫敦的車庫找到了他們的熱情所在，也就是製造出自己喜愛的物件。從照明燈飾與五金一直到客製化摩托車以及威士忌吧檯桌
            ， Buster & Punch的信念就是想做出令人意想不到卻又高雅的室內裝飾品。
          </p>
          <p>
            在與街頭藝術家、摩托車製造商、音樂家、以及時尚設計師合作的過程中，Buster
            & Punch
            也受到倫敦的時尚、音樂以及次文化都市啟發，並將其精神注入在每一個物件之中。
          </p>
        </div>
        <div class="a-single-brand__out-link">
          <BaseButton buttonText="品牌官網" />
        </div>
      </div>
    </div>
    <main class="o-single-brand__main">
      <div class="m-single-brand__products">
        <div
          class="a-product"
          v-for="(image, index) in image"
          :key="index"
          @click="displayDefaultValue = true"
        >
          <img :src="image" alt="brand logo" />
        </div>
      </div>
    </main>
    <div class="m-single-brand__other-articles">
      <div class="a-other-articles__item">
        <InfoCard cardTitle="ZOLBONNE" cardNote="日本•職人鍛造不銹鋼" />
      </div>
      <div class="a-other-articles__item">
        <InfoCard cardTitle="JIMBO" cardNote="日本•第一面板品牌" />
      </div>
    </div>
    <ProductSlider
      :displayDefaultValue="displayDefaultValue"
      @closeDetailModal="closeModel"
    />
  </div>
</template>
<script>
import CustomCursor from "@/components/shared/CustomCursor.vue";
import BaseButton from "@/components/shared/BaseButton.vue";
import InfoCard from "@/components/Brand/InfoCard.vue";
import ProductSlider from "@/components/Brand/ProductSlider.vue";
export default {
  name: "SingleBrand",
  components: {
    CustomCursor,
    BaseButton,
    InfoCard,
    ProductSlider,
  },
  data() {
    return {
      displayDefaultValue: false,
      image: [
        require("@/assets/image/pic/brand-product-04.png"),
        require("@/assets/image/pic/brand-product-04.png"),
        require("@/assets/image/pic/brand-product-04.png"),
        require("@/assets/image/pic/brand-product-04.png"),
        require("@/assets/image/pic/brand-product-04.png"),
        require("@/assets/image/pic/brand-product-04.png"),
      ],
    };
  },
  methods: {
    closeModel() {
      this.displayDefaultValue = false;
      document.body.setAttribute("style", "overflow: none");
    },
  },
};
</script>
<style lang="scss" scoped>
.o-single-brand {
  &__header {
    @include media(md) {
      display: flex;
    }
    @include media(lg) {
      align-items: center;
    }
  }
  &__main {
    margin: 64px 0;
    padding: 0 24px;
    @include media(md) {
      padding: 0 8px;
    }
    @include media(lg) {
      margin: 80px 0;
    }
  }
}

.m-single-brand {
  &__image {
    @include media(md) {
      // height: 360px;
      flex: 0 0 50%;
      order: 1;
    }
    @include media(lg) {
      height: 780px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__introduction {
    padding: 36px 24px;
    @include media(md) {
      flex: 0 0 50%;
      padding: 50px 30px;
      order: 0;
    }
    @include media(lg) {
      padding: 0 90px;
    }
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    @include media(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__other-articles {
    @include media(md) {
      display: flex;
    }
  }
}

.a-single-brand {
  &__origin {
    &-phone {
      font-size: 15px;
      color: $grey;
      @include media(md) {
        display: none;
      }
    }
    &-desktop {
      display: none;
      @include media(md) {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        color: $grey;
      }
    }
  }
  &__logo {
    width: 157px;
    margin-bottom: 24px;
    img {
      width: 100%;
    }
    @include media(lg) {
      width: 329px;
    }
  }
  &__text {
    margin-bottom: 40px;
    p {
      font-size: 15px;
      margin-bottom: 12px;
      @include media(md) {
        font-size: 16px;
      }
    }
  }
}

.a-product {
  height: 152px;
  overflow: hidden;
  @include media(md) {
    height: 250px;
  }
  @include media(lg) {
    height: 320px;
  }
  @include media(xl) {
    height: 469px;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
  }
}

.a-other-articles {
  &__item {
    flex: 1 0 0;
    height: 250px;
    display: flex;
    align-items: flex-end;
    background-image: url("@/assets/image/pic/brand-product-03.png");
    background-size: cover;
    background-repeat: no-repeat;
    @include media(md) {
      height: 360px;
    }
    @include media(lg) {
      height: 500px;
    }
    .a-info-card {
      border: none;
      background: none;
      backdrop-filter: none;
      ::v-deep .a-info-card__title {
        h4 {
          mix-blend-mode: difference;
        }
      }
      ::v-deep .a-info-card__content {
        display: none;
      }
      ::v-deep .a-info-card__note {
        justify-content: unset;
        gap: 16px;
        span {
          font-weight: $light;
          mix-blend-mode: difference;
        }
        .note-arrow {
          mix-blend-mode: difference;
          @include media(md) {
            transform: translateX(0);
          }
        }
      }
      &:hover {
        ::v-deep .a-info-card__note > .note-arrow {
          transform: translateX(50px);
          transition: all 1s ease;
        }
      }
    }
  }
}
</style>
