<template>
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.208 12.3296H18.0156V10.1673C18.0156 9.35522 18.5364 9.1659 18.9031 9.1659H21.1562V5.59643L18.0532 5.5835C14.6086 5.5835 13.8247 8.24604 13.8247 9.94992V12.3296H11.833V16.0077H13.8247V26.4168H18.0156V16.0077H21.208V12.3296Z"
    />
  </svg>
</template>
<script>
export default {
  name: "FacebookIcon",
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped></style>
