<template>
  <svg
    width="32"
    height="32"
    viewBox="0 0 32 32"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="5.75"
      y="5.75"
      width="20.949"
      height="20.949"
      rx="4.25"
      stroke="#26282A"
      stroke-width="1.5"
    />
    <circle
      cx="16.2251"
      cy="16.2247"
      r="5.32688"
      stroke="#26282A"
      stroke-width="1.5"
    />
    <circle
      cx="22.8835"
      cy="9.18574"
      r="1.33172"
      fill="#26282A"
      stroke="white"
      stroke-width="0.05"
    />
  </svg>
</template>
<script>
export default {
  name: "InstagramIcon",
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped></style>
