<template>
  <svg
    width="101"
    height="8"
    viewBox="0 0 101 8"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g>
      <line y1="7.5" x2="100" y2="7.5" :stroke="color" />
    </g>
    <g>
      <line
        x1="88.2519"
        y1="0.568111"
        x2="100.252"
        y2="7.56811"
        :stroke="color"
      />
    </g>
  </svg>
</template>
<script>
export default {
  name: "RightArrow",
  props: {
    color: {
      type: String,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped></style>
