<template>
  <svg
    width="78"
    height="14"
    viewBox="0 0 78 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g>
      <line
        x1="1"
        y1="13"
        x2="77"
        y2="13"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
      />
      <line
        x1="57.4497"
        y1="1.64009"
        x2="76.068"
        y2="12.5008"
        :stroke="color"
        stroke-width="2"
        stroke-linecap="round"
      />
    </g>
  </svg>
</template>
<script>
export default {
  name: "ScrollArrow",
  props: {
    color: {
      type: String,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped></style>
