<template>
  <div class="o-brand">
    <CustomCursor :isDefault="false" />
    <nuxt-link :to="{ name: 'brand-id', params: { id: 1 } }">
      <BrandProduct
        :productImage="image"
        cardTitle="ZOLBONNE"
        cardContent="來自東京，經由北海道職人一片一片的仔細鍛造，不同於機器量產，每一片面板都有著些微不平整的手作感。"
        cardNote="日本• 手造鋁板"
      />
    </nuxt-link>
    <BrandProduct
      :productImage="image"
      cardTitle="CJC"
      cardContent="CJC所設計出來的開關、插座以及控制面板深受建築師以及室內設計師的喜愛，是眾所皆知的歐洲領導品牌。"
      cardNote="比利時• 高級面板"
    />
    <BrandProduct
      :productImage="image"
      cardTitle="JIMBO"
      cardContent="使用簡單的垂直與水平線以及正圓結合而成俐落跟簡單的外型，利用霧面加工所形成的特殊手感與質感。"
      cardNote="日本• 第一面板"
    />
  </div>
</template>
<script>
import CustomCursor from "@/components/shared/CustomCursor.vue";
import BrandProduct from "@/components/Brand/BrandProduct.vue";
export default {
  name: "Brand",
  components: {
    CustomCursor,
    BrandProduct,
  },
  data() {
    return {
      image: [
        require("@/assets/image/pic/brand-product.png"),
        require("@/assets/image/pic/brand-product-02.png"),
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.o-brand {
  a {
    display: block;
  }
}
</style>
